.rese単as-container {
  display: flex;
  flex-wrap: wrap;
 gap: 20px;
 justify-content: center;
  }
  
  .rese単as {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    width: 18rem;  
}



  
  @media (min-width: 700px) {
    .rese単as-container {
      grid-template-columns: repeat(2, 1fr); 
    }
  }

  @media (min-width: 1200px) {
    .rese単as-container {
      grid-template-columns: repeat(4, 1fr); 
    }
  }